@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: linear-gradient(
      rgba(0, 25, 29, 0.65),
      rgba(0, 25, 29, 0.65)
    ),
    url("./assets/bg.jpg");

  font-size: 18px;
  line-height: 18px;
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.smalls {
  font-size: 4px;
  line-height: 4px;
}
.larges {
  font-size: 8px;
  line-height: 8px;
}

.divactive {
  /* transform: translateY(0); */
  height: auto;
  transition: height 4s;
}

.clicked {
  /* transform: translateY(-20px); */
  height: 0px;
  transition: height 4s;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.wide-div {
  position: absolute;
  left: 0;
  right: 0;
}

.font_base-i {
  font-family: "Impact";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.dot-red {
  height: 7px;
  width: 7px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.dot-green {
  height: 7px;
  width: 7px;
  background-color: #3aff42;
  border-radius: 50%;
  display: inline-block;
}

@media (max-width: 768px) {
  .dot-green {
    height: 4px;
    width: 4px;
  }
  .dot-red {
    height: 4px;
    width: 4px;
  }
}

.font_base-m {
  font-family: "Monda";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.greenShadow {
  text-shadow: -2px 0px 0px #0cff00;
}
.greenShadow-hard {
  text-shadow: -7px 0px 0px #0cff00;
}

mark {
  display: inline-block;
  padding-bottom: 0px;
  background: linear-gradient(
    180deg,
    transparent 75%,
    #0cff00 75%,

    #0cff00 90%,
    transparent 90%,
    transparent 100%
  );
}
.mark2 {
  text-decoration-color: cyan;
  text-decoration-thickness: 5px;
}

.bg-small {
  background-image: url("./assets/bg1.jpeg");
}
.videoContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}

@media (min-width: 768px) {
  .parent:hover .child {
    opacity: 1;
    height: auto;
    overflow: none;
    transform: translateY(0);
  }
  .child {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transform: translateY(-10%);
  }
}
.videoContainer video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .ju367v71 {
    visibility: hidden;
    width: 0;
  }
}

.ju367v1n {
  margin-top: 10px;
  height: 100%;
}
